<form autocomplete="off" class="ml-lg-5">
    <div class="autocomplete embed-i width">
        <input type="text" id="myInput" (keyup)="searchBooks($event);" class="form-control"
            placeholder="Search Books or Authors" [formControl]="searchControl" #searchInput>
        <i class="fa fa-times pointer" *ngIf="searchControl.value" aria-hidden="true" (click)="closeSuggestions()"></i>
    </div>
</form>
<div id="autocomplete-list" *ngIf="books && books.length>0 && searchControl.value"
    class="autocomplete-items ml-lg-5 width">
    <div *ngFor="let book of books;let i=index" (keyup)="activeSuggestion($event)" (click)="showBooks(book.title);"
        [ngClass]="{'autocomplete-active':i==currentFocus}">
        {{book.title}}
    </div>
</div>

<!-- /**
mobile width: 100% of books
filters,
data-target/aria-expanded
qty count not working well
on mobile -> searchbar width:100%
image preview before
disabled btn on click mention some message
(if possible) input tag
*/ -->