<div class="d-flex center" *ngIf="!isLoading; else loader">
  <div class="panel book-form">
    <div class="panel-header">
      <span class="heading">{{formTitle}} Book</span>
    </div>
    <div class="panel-form">
      <form [formGroup]="bookForm" class="row">
        <div class="panel-card p-2 my-2 ">
          <div class="form-contents">
            <div class="form-group mt-2">
              <label class="capitalise" for="title">Title</label>
              <input type="title" class="form-control" placeholder="Enter Title" formControlName="title" />
              <div class="invalid-feedback"
                *ngIf="bookFormControl.title.touched && bookFormControl.title.errors?.required">
                Title is required!
              </div>
            </div>
            <div class="form-group">
              <label class="capitalise" for="author">Author</label>
              <input type="text" class="form-control" placeholder="Enter Author" formControlName="author" />
              <div class="invalid-feedback"
                *ngIf="bookFormControl.author.touched && bookFormControl.author.errors?.required">
                Author is required!
              </div>
            </div>
            <div class="form-group">
              <label class="capitalise" for="price">Price</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1" value="100">₹</span>
                </div>
                <input type="number" class="form-control" placeholder="Enter Price" formControlName="price" min="1" />
              </div>
              <div class="invalid-feedback"
                *ngIf="bookFormControl.price.touched && bookFormControl.price.errors?.required">
                Price is required!
              </div>
            </div>
            <div class="form-group" *ngIf="categories && categories.length > 0">
              <label class="capitalise" for="category">Category</label>
              <div class="input-group">
                <select formControlName="category" class="form-control" placeholder="Select Category">
                  <option class="dropdown form-control" *ngFor="let category of categories" [ngValue]="category._id">
                    {{ category.category_type }}
                  </option>
                </select>
              </div>
              <div class="invalid-feedback"
                *ngIf="bookFormControl.category.touched && bookFormControl.category.errors?.required">
                Category is required!
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <button *ngIf="!isSavingBook" class="btn btn-light mr-3" routerLink="/admin">Cancel</button>
              <button *ngIf="!isSavingBook" type="submit" class="btn btn-info" (click)="saveBook()"
                [disabled]="bookForm.invalid">
                Save Book
              </button>
              <app-loader *ngIf="isSavingBook" [showBtn]=true [btnText]="Adding"></app-loader>
            </div>
          </div>
        </div>
        <div class="d-flex center">
          <div class="preview-image">
            <div class="panel-header">
              <span class="heading text-center m-auto">Image Preview</span>
            </div>
            <div class="panel-form text-center">
              <div class="preview-img">
                <img src="{{coverImagePath}}" alt="No Image Available">
              </div>
              <label for="file-upload" class="custom-file-upload">
                <i class="fa fa-cloud-upload"></i> Upload Image
              </label>
              <input id="file-upload" type="file" (change)="onFileSelect($event)" />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>