.book-form {
  width: 55rem;
}
.panel-card {
  flex: 2;
}
.preview-image {
  flex: 1;
  margin: 1rem;
  border: 1px solid #dee2e6;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-top: 10px;
}
.preview-img,
img {
  max-width: 200px;
  max-height: 250px;
}
