.book-form {
  width: 55rem;
}
.panel-card {
  flex: 2;
}
.preview-image {
  flex: 1;
  margin: 1rem;
  border: 1px solid #dee2e6;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 0.75rem;
  cursor: pointer;
  margin-top: 0.625rem;
}
.preview-img,
img {
  max-width: 200px;
  max-height: 250px;
  margin: auto;
}
@media (max-width: 767px) {
  form {
    flex-flow: column-reverse;
  }
}
