<div class="card">
  <div class="book-img">
    <img class="book-img-top pointer" *ngIf="book.cover" src="{{ book.cover }}" alt="Book image cap"
      routerLink="/books/details/{{ book._id }}" />
  </div>
  <div class="card-body">
    <h5 class="card-title pointer capitalise" routerLink="/books/details/{{ book._id }}">{{ book.title }}</h5>
    <p class="card-text">
      <small>{{ book.price | currency : 'INR' }} </small>
    </p>
    <app-add-to-cart [bookId]="book._id" [user]="user"></app-add-to-cart>
  </div>
</div>