.card {
  text-align: center;
  margin-bottom: 10px;
  width: 14.2rem;
  box-shadow: 2px 2px 1px #aaaaaa;
}
.card .book-img {
  width: 14.2rem;
  height: 19rem;
}
.card-title {
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
