<div class="card">
  <div class="bookImg">
    <img class=" pointer" [src]="coverImage" alt="Book image cap" routerLink="/books/details/{{ book._id }}"
      [tooltip]="book.title" placement="bottom" />
    <app-toggle-wishlist [bookId]="book._id" class="wishlist"></app-toggle-wishlist>
  </div>
  <div class="card-body">
    <h5 class="card-title pointer capitalise" routerLink="/books/details/{{ book._id }}">{{ book.title }}</h5>
    <p class="card-text">
      <small>{{ book.price | currency : 'INR' }} </small>
    </p>
    <app-add-to-cart [bookId]="book._id"></app-add-to-cart>
  </div>
</div>