<div *ngIf="showButton;else showIcon">
    <button (click)="toggleWishlist()" class="btn" [ngClass]="{'btn-info':!isWishlisted,'btn-danger':isWishlisted}"><i
            class="fa pointer" [ngClass]="{'fa-plus':!isWishlisted,'fa-trash':isWishlisted}" aria-hidden="true"></i>
        {{btnText}}</button>
</div>
<ng-template #showIcon>
    <div class="wishlist-icon pointer" (click)="toggleWishlist()">
        <i class="fa  fa-heart" [ngClass]="{'red':isWishlisted,' grey':!isWishlisted}" aria-hidden="true"></i>
    </div>
</ng-template>