<div *ngIf="showButton;else showIcon">
    <button (click)="toggleWishlist()" class="btn"
        [ngClass]="{'btn-primary':!isWishlisted,'btn-danger':isWishlisted}"><i class="fa pointer"
            [ngClass]="{'fa-plus':!isWishlisted,'fa-trash':isWishlisted}" aria-hidden="true"></i>
        {{btnText}}</button>
</div>
<ng-template #showIcon>
    <i class="fa pointer" [ngClass]="{'fa-heart':isWishlisted,' fa-heart-o':!isWishlisted}" aria-hidden="true"
        (click)="toggleWishlist()"></i>
</ng-template>