<div class="container">
    <div class="d-flex">
        <div class="login">
            <div class="login-header">
                <h1 class="text-center mx-5 my-5">Login</h1>
                <div>
                    New User? <button>Register</button>
                </div>
            </div>
            <div class="row">
                <div class="card p-2 my-2 ">
                    <form [formGroup]="loginForm">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" formControlName="userName"
                                placeholder="Enter username" name="username" />
                            <div class="invalid-feedback"
                                *ngIf="LoginFormControl.userName.touched && LoginFormControl.userName.errors?.required">
                                This field is required!
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" formControlName="password"
                                placeholder="Enter password" name="password" />
                            <div class="invalid-feedback"
                                *ngIf="LoginFormControl.password.touched && LoginFormControl.password.errors?.required">
                                This field is required!
                            </div>
                        </div>
                        <button type="submit" (click)="loginUser()" class="btn btn-primary"
                            [disabled]="loginForm.invalid">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>