.addbook {
  display: flex;
  justify-content: right;
  float: right;
}
.not-found {
  width: 364px;
  height: 248px;
}
.align-bottom {
  position: absolute;
  text-align: center;
  bottom: 0%;
  margin: auto;
  left: 50%;
  transform: translate(-50%, 0%);
}
