<div class="form">
    <form [formGroup]="registerForm" class="p-4 mt-4">
        <h1>Register User</h1>
        <div class="form-group mt-2">
            <label for="firstName">firstName</label>
            <input type="firstName" class="form-control" placeholder="Enter firstName" formControlName="firstName" />
            <div class="invalid-feedback"
                *ngIf="registerFormControl.firstName.touched && registerFormControl.firstName.errors?.required">
                This field is required!
            </div>
            <div class="invalid-feedback"
                *ngIf="registerFormControl.firstName.dirty && registerFormControl.firstName.errors?.minlength">
                Minimum required Length is 5.
            </div>
        </div>
        <div class="form-group">
            <label for="lastName">lastName</label>
            <input type="text" class="form-control" placeholder="Enter lastName" formControlName="lastName" />
            <div class="invalid-feedback"
                *ngIf="registerFormControl.lastName.touched && registerFormControl.lastName.errors?.required">
                This field is required!
            </div>
        </div>
        <div class="form-group">
            <label for="userName">userName</label>
            <input type="text" class="form-control" formControlName="userName" />
            <div class="invalid-feedback"
                *ngIf="registerFormControl.userName.touched && registerFormControl.userName.errors?.required">
                This field is required!
            </div>
        </div>
        <div class="form-group">
            <label for="password">password</label>
            <input type="text" class="form-control" formControlName="password" />
            <i class="fa fa-eye" aria-hidden="true"></i>
            <i class="fa fa-eye-slash" aria-hidden="true"></i>
            <div class="invalid-feedback"
                *ngIf="registerFormControl.password.touched && registerFormControl.password.errors?.required">
                This field is required!
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">confirmPassword</label>
            <input type="text" class="form-control" formControlName="confirmPassword" />
            <i class="fa fa-eye" aria-hidden="true"></i>
            <i class="fa fa-eye-slash" aria-hidden="true"></i>
            <div class="invalid-feedback"
                *ngIf="registerFormControl.confirmPassword.touched && registerFormControl.confirmPassword.errors?.required">
                This field is required!
            </div>
        </div>
        <div class="form-group">
            <label for="gender">gender</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" id="male" name="gender" value="male"
                    formControlName="gender">
                <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check">
                <input type="radio" id="female" class="form-check-input" name="gender" value="female"
                    formControlName="gender">
                <label class="form-check-label" for="female">Female</label>
            </div>

            <div class="invalid-feedback"
                *ngIf="registerFormControl.gender.touched && registerFormControl.gender.errors?.required">
                This field is required!
            </div>
        </div>
        <button class="btn" routerLink="/admin">Back</button>
        <button type="submit" class="btn btn-primary" (click)="register()" [disabled]="registerForm.invalid">
            Submit
        </button>
    </form>
</div>