<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/books">
    <h2 class="nav-title"> <i class="fa fa-book" aria-hidden="true"></i>BookCart</h2>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav navbar-right ml-auto">
      <li class="nav-item mr-4" *ngIf="this.user && this.user.isLoggedIn">
        <i class="fa fa-shopping-cart pointer cart mt-2" title="Cart" routerLink="/cart" aria-hidden="true"></i>
        <span class="cart-count"> {{cartItems}} </span>
      </li>
      <li class="nav-item active" *ngIf="!this.user || (this.user && !this.user.isLoggedIn)">
        <button class="btn btn-link" routerLink="/login">Login</button>
      </li>
      <!-- <li class="nav-item" *ngIf="!this.userDetails || !this.userDetails.isLoggedIn">
        <button class="btn btn-link" routerLink="/register">Register</button>
      </li> -->
      <li class="nav-item" *ngIf="this.user && this.user.user_type == 2">
        <button class="btn btn-link" routerLink="/admin">
          Admin Panel
        </button>
      </li>
      <li class="nav-item" *ngIf="this.user && this.user.isLoggedIn">
        <div class="dropdown show">
          <a class="btn btn-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle" aria-hidden="true"></i> {{getFirstName()|titlecase}}
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <!-- <a class="dropdown-item">Orders</a>
            <a class="dropdown-item">Change Password</a>
            <div class="dropdown-divider"></div> -->
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a href="https://github.com/dikshagoyal26/booksCart" target="_blank" class="btn btn-link">
          <i class="fa fa-github" aria-hidden="true"></i>
          Github
        </a>
      </li>
    </ul>
  </div>
</nav>