nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}
@media screen and (min-width: 900px) {
  nav {
    padding: 8px 7.625rem;
  }
}
.nav-item .btn-link,
.nav-item .dropdown {
  color: #fff;
  text-decoration: none;
}
.bg-dark {
  background-color: #246758 !important;
}
.nav-item i {
  color: #fff;
  font-size: 1.2rem;
}

.nav-item {
  position: relative;
}
.cart-count {
  background-color: #e52626;
  color: #fff;
  border-radius: 8px;
  padding: 1px 6px;
  font-size: 12px;
  text-align: center;
  position: absolute;
}
.nav-item .btn-link:hover {
  background: #23534a; // #212529;
}
.dropdown-item:hover {
  background: #23534a;
  color: #fff !important;
  cursor: pointer;
}
