.checkout {
  width: 55rem;
}
.panel-card {
  flex: 1;
  width: 27rem;
}
.preview-image {
  flex: 1;
  width: 25rem;
  margin: 1rem;
  border: 1px solid #dee2e6;
  background-color: #fff;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 0.75rem;
  cursor: pointer;
  margin-top: 0.625rem;
}
.preview-img,
img {
  max-width: 200px;
  max-height: 250px;
}
.sub-heading {
  padding: 0.625rem;
}
.shipping {
  border-bottom: 1px solid #dee2e6;
}
