<div class="d-flex center w-100">
    <div class="panel checkout">
        <div class="panel-header">
            <span class="heading">Checkout</span>
        </div>
        <div class="panel-form">
            <form [formGroup]="addressForm" (ngSubmit)="checkout()" class="d-flex">
                <div class="panel-card p-2 my-2 ">
                    <h3 class="shipping sub-heading">Shipping Address</h3>
                    <div class="form-contents">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" placeholder="Enter Name" formControlName="name" />
                            <div class="invalid-feedback"
                                *ngIf="addressFormControl.name.touched && addressFormControl.name.errors?.required">
                                Name is required!
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="line_1">Address Line 1</label>
                            <input type="text" class="form-control" placeholder="Enter Address Line 1"
                                formControlName="line_1" />
                            <div class="invalid-feedback"
                                *ngIf="addressFormControl.line_1.touched && addressFormControl.line_1.errors?.required">
                                Address Line 1 is required!
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="line_2">Address Line 2</label>
                            <input type="text" class="form-control" placeholder="Enter Address Line 2"
                                formControlName="line_2" />
                            <div class="invalid-feedback"
                                *ngIf="addressFormControl.line_2.touched && addressFormControl.line_2.errors?.required">
                                Address Line 2 is required!
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pincode">Pincode</label>
                            <input type="number" class="form-control" placeholder="Enter Pincode"
                                formControlName="pincode" />
                            <div class="invalid-feedback"
                                *ngIf="addressFormControl.pincode.touched && addressFormControl.pincode.errors?.required">
                                Pincode is required!
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="state">State</label>
                            <input type="text" class="form-control" placeholder="Enter State" formControlName="state" />
                            <div class="invalid-feedback"
                                *ngIf="addressFormControl.state.touched && addressFormControl.state.errors?.required">
                                State is required!
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="button" class="btn btn-danger" routerLink="/cart">Cancel</button>
                            <button type="submit" [disabled]="addressForm.invalid">Place Order</button>
                        </div>
                    </div>
                </div>
                <div class="d-flex center">
                    <div class="preview-image">
                        <div>
                            <h3 class="sub-heading m-auto">Order Summary</h3>
                        </div>
                        <div class="panel-form text-center">
                            <table class="table capitalise text-center" *ngIf="cart && cart.length>0">
                                <thead>
                                    <tr>
                                        <th scope="col">Title</th>
                                        <th scope="col">MRP</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of cart">
                                        <td>
                                            <a class="pointer" routerLink="/books/details/{{item.book._id}}">{{
                                                item.book.title }}
                                            </a>
                                        </td>
                                        <td>{{ item.book.price | currency : 'INR'}}</td>
                                        <td> {{item.quantity }}

                                        </td>
                                        <td>{{ (item.book.price*item.quantity) | currency : 'INR' }}</td>

                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>Grand Total:</td>
                                        <td><b>{{totalPrice |currency:'INR'}}</b></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>