.cart {
  width: 75rem;
}

.table {
  background: #fff;
}
img {
  height: 200px;
  width: 175px;
}
.shop {
  width: max-content;
}
.emptyCart {
  padding: 0.625rem;
}
.emptyCart h2 {
  text-transform: none;
}
