{{selectedCategory}}
<ul class="category-section list-group list-group-flush" *ngIf="categories && categories.length>0">
    <li class="list-group-item" (click)="selectCategory()" [ngClass]="{'active':!selectedCategory}">ALL</li>
    <li *ngFor="let category of categories" class="list-group-item" (click)="selectCategory(category.category_type)"
        [ngClass]="{'active':category._id==selectedCategory}">
        {{category.category_type}}
    </li>
</ul>
<input type="range" name="" id="" [(ngModel)]="priceRange" min="100" max="10000" (change)="selectPrice()"
    [tooltip]="priceRange">