<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/books">
    <i class="fas fa-book-reader"></i> BookCart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item active">
        <button class="btn btn-outline-primary">Login</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-primary" routerLink="/admin">
          Admin
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-primary" routerLink="/cart">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </button>
      </li>
    </ul>
  </div>
</nav>