.snackbar-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: 50%;
  padding: 0.75rem;
  border-radius: 5px;
  min-width: 350px;
  transform-origin: center;
  transform: translate(-50%, 0%);
  color: #000000;
  font-size: 1rem;
}
.success {
  background: #28a745d6;
  // background: #000000d4;
  // background: #008000;
}
.danger {
  background: #ff0000cc;
}
