// section {
//   display: flex;
//   justify-content: center;
//   max-width: 380px;
//   flex-direction: column;
// }
div.form {
  display: flex;
  justify-content: center;
}
div.form form {
  max-width: 380px;
  border: 2px solid #eee;
  background: white;
}
.books {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addbook {
  display: flex;
  justify-content: right;
  float: right;
}
.invalid-feedback {
  display: inline;
}
button:disabled {
  cursor: not-allowed;
}
form label {
  text-transform: capitalize;
}
