body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #f3f2ef;
  width: 100%;
}
img {
  width: 100%;
  height: auto;
}
a,
a:hover {
  text-decoration: none;
}
.pointer {
  cursor: pointer;
}

.book-img {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0;
}
.book-img img {
  width: 100%;
  height: auto;
  transition: 0.5s all ease-in-out;
}
.book-img:hover img {
  transform: scale(1.2);
}
.uppercase {
  text-transform: uppercase;
}
.capitalise {
  text-transform: capitalize;
}

div.form {
  display: flex;
  justify-content: center;
}
div.form form {
  border: 2px solid #eee;
  background: white;
}
.books {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addbook {
  display: flex;
  justify-content: right;
  float: right;
}
.invalid-feedback {
  display: inline;
  font-size: 0.7rem;
}
button:disabled {
  cursor: not-allowed;
}
form label {
  text-transform: capitalize;
}
.password-div {
  position: relative;
}
.password-div input {
  padding-right: 35px;
}
.password-div i {
  position: absolute;
  right: 10px;
  display: inline;
  top: 10px;
  font-size: 20px;
}
