$nav-color: #246758;
$count-background: #e52626;
$border-dark: rgba($nav-color, 0.88);
$nav-hover-color: #23534a;

$panel-color: #50c5bd; // #008891; //#cd8a56 //af804f //#50C5BD
$btn-color: #246758;
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #f1f3f6;
  width: 100%;
  height: 100vh;
  text-transform: capitalize;
  font-size: 1rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-kerning: normal;
}
img {
  width: 100%;
  height: auto;
}
a,
a:hover {
  text-decoration: none;
}
.pointer {
  cursor: pointer;
}
.bold {
  font-weight: 500;
}
.book-img {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0;
}
.book-img img {
  width: 100%;
  height: auto;
  transition: 0.5s all ease-in-out;
}
.book-img:hover img {
  transform: scale(1.2);
}
.uppercase {
  text-transform: uppercase;
}
.capitalise {
  text-transform: capitalize;
}

div.form {
  display: flex;
  justify-content: center;
}
div.form form {
  border: 2px solid #eee;
  background: white;
}
.books {
  display: flex;
  flex-direction: column;
}
.addbook {
  display: flex;
  justify-content: right;
  float: right;
}
.invalid-feedback {
  display: inline;
  font-size: 0.7rem;
}
button:disabled,
.disabled {
  cursor: not-allowed;
}
form label {
  text-transform: capitalize;
}
.embed-i {
  position: relative;
}
.password-div input {
  padding-right: 35px;
}
.embed-i i {
  position: absolute;
  right: 0.625rem;
  display: inline;
  top: 0.625rem;
  font-size: 1.25rem;
}
.form-group {
  margin-bottom: 0.5rem;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #85888b;
  border-radius: 0.625rem;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 0.625rem;
}
.d-flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.d-flex.center {
  justify-content: center;
  align-items: center;
}
.panel {
  min-width: 30rem;
  border: 1px solid #dee2e6;
}
.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $panel-color;
  color: #fff;
  font-weight: 600;
  font-size: 1.125rem;
  padding: 10px 1.25rem;
}
.panel-form {
  padding: 0.625rem;
}
.panel-header .heading {
  font-size: 1.75rem;
}

.errorMessage {
  font-size: 1rem;
}
.panel-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.panel-footer {
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
}
button:disabled {
  cursor: not-allowed;
}
.column {
  flex-direction: column;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: $panel-color;
  border-color: $panel-color;
}
