.addbook {
  display: flex;
  justify-content: right;
}
.invalid-feedback {
  display: inline;
}
button:disabled {
  cursor: not-allowed;
}
form label {
  text-transform: capitalize;
}
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.register {
  min-width: 30rem;
  border: 1px solid #dee2e6;
}
.register-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #5aaaff;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 20px;
}
.register-header .heading {
  font-size: 28px;
}
.register-form {
  padding: 10px;
}
