.cart {
  width: 45rem;
}

.table {
  background: #fff;
}
img {
  height: 160px;
  width: 130px;
}
.fa-trash {
  color: #ff0000a6;
}
.fa-plus-circle {
  color: #0062cc;
}
.fa-minus-circle {
  color: #ced4da;
}
.shop {
  width: max-content;
}
.emptyCart {
  padding: 0.625rem;
}
.emptyCart h2 {
  text-transform: none;
}
