<div class="container-fluid mt-3">
    <div class="d-flex">
        <div class="cart">
            <div class="cart-header">
                <span class="heading">Cart Items</span>
                <button (click)="clearCart()" class="btn btn-light">Clear Cart</button>
            </div>
            <div class="cart-form">
                <table class="table capitalise text-center" *ngIf="cart && cart.length>0">
                    <thead>
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Title</th>
                            <th scope="col">MRP</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of cart">
                            <td><img [src]="item.book.cover" alt="{{item.book.title}}"></td>
                            <td>
                                <a class="pointer" routerLink="/books/details/{{item.book._id}}">{{ item.book.title }}
                                </a>
                            </td>
                            <td>{{ item.book.price | currency : 'INR'}}</td>
                            <td><i class="fa fa-minus-circle pointer" aria-hidden="true"
                                    (click)=" reduceItemQty(item.book._id)"></i>
                                {{item.quantity }}
                                <i class="fa fa-plus-circle pointer" aria-hidden="true"
                                    (click)=" addOneItem(item.book._id)"></i>
                            </td>
                            <td>{{ (item.book.price*item.quantity) | currency : 'INR' }}</td>
                            <td>
                                <i class="fa fa-trash pointer" title="Delete Book" aria-hidden="true"
                                    (click)="deleteBookFromCart(item.book._id)"></i>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Cart Total:</td>
                            <td><b>{{totalPrice |currency:'INR'}}</b></td>
                        </tr>
                    </tfoot>
                </table>
                <section *ngIf="!cart || cart.length==0">
                    <p>Book cart is empty!</p>
                    <button routerLink="/books">Continue Shopping</button>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- 
TODO: 1.Cart FUnctionality & UI
2. Purchase the item
3. Filters
4. Pagination
5. UI 
6. Loader
7. cart Item COunt -->