<div class="d-flex center w-100" *ngIf="!isLoading;else loading">
    <div class="panel cart">
        <div class="panel-header">
            <span class="heading">Cart Items</span>
            <button (click)="clearCart()" class="btn btn-light" *ngIf="cart && cart.length>0">Clear Cart</button>
        </div>
        <div>
            <div class="panel-card">
                <table class="table capitalise text-center" *ngIf="cart && cart.length>0;else emptyCart">
                    <thead>
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Title</th>
                            <th scope="col">MRP</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of cart">
                            <td><img [src]="getCover(item.book)" alt="{{item.book.title}}"></td>
                            <td>
                                <a class="pointer" routerLink="/books/details/{{item.book._id}}">{{ item.book.title }}
                                </a>
                            </td>
                            <td>{{ item.book.price | currency : 'INR'}}</td>
                            <td><i class="fa fa-minus-circle pointer" aria-hidden="true"
                                    [ngClass]="{'disabled':item.quantity==1}" (click)="reduceItemQty(item)"></i>
                                {{item.quantity }}
                                <i class="fa fa-plus-circle pointer" aria-hidden="true"
                                    (click)=" addOneItem(item.book._id)"></i>
                            </td>
                            <td>{{ (item.book.price*item.quantity) | currency : 'INR' }}</td>
                            <td>
                                <i class="fa fa-trash pointer" title="Delete Book" aria-hidden="true"
                                    (click)="deleteBookFromCart(item.book._id)"></i>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total:</td>
                            <td><b>{{totalPrice |currency:'INR'}}</b></td>
                            <td><button class="btn btn-info" routerLink="/checkout">Checkout</button></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <ng-template #emptyCart>
            <div class="d-flex flex-column emptyCart">
                <h2>Shopping Cart is empty!</h2>
                <button routerLink="/books" class="btn btn-info shop mt-3">Continue Shopping</button>
            </div>
        </ng-template>
    </div>
</div>
<ng-template #loading>
    <app-loader></app-loader>
</ng-template>