.list-group-item .d-flex {
  justify-content: space-between;
  align-items: center;
}

.book-details {
  border: 1px solid #dee2e6;
}
.list-group-item {
  background: transparent;
}
.bold {
  font-weight: 600;
}
.details {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
