<div class="d-flex center w-100" *ngIf="book;else loading">
    <div class="panel book-details">
        <div class="panel-header">
            <span class="heading">Book Details</span>
        </div>
        <div class="panel-form">
            <div class="row">
                <div class="col-md-4 book-img">
                    <img [src]="getCover()" alt="book cover" [title]="book.title">
                </div>
                <div class="col-md-8 details w-100">
                    <table class="table w-100">
                        <tbody>
                            <tr>
                                <td><span class="bold">Title</span></td>
                                <td> <span>{{book.title}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="bold">Author</span></td>
                                <td> <span>{{book.author}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="bold">Category</span></td>
                                <td> <span>{{book.category.category_type}}</span></td>
                            </tr>
                            <tr>
                                <td><span class="bold">Price</span></td>
                                <td> <span>{{book.price | currency : 'INR'}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex w-100 ">
                        <app-add-to-cart [bookId]="book._id" class="mr-2"></app-add-to-cart>
                        <app-toggle-wishlist [bookId]="book._id" [showButton]=true></app-toggle-wishlist>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #loading>
    <app-loader></app-loader>
</ng-template>